<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=770px, initial-scale=1">
  <title>World Boss Moderation | Dashboard - Configuration</title>
  <meta name="description" content="Official website of World Boss Moderation!
  Manage and configure settings for World Boss Moderation." />
  <meta property="og:image" content="https://media.discordapp.net/attachments/933574813849632848/934606101847109652/worldboss_bot.jpg">
  <meta name="theme-color" content="#d90053">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  <script src="https://kit.fontawesome.com/14f6d50770.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/media/coloris.min.css"/>
  <script src="/media/coloris.min.js"></script>
  <link rel="icon" type="image/png" href="https://wbmoderation.com/favicon.ico">
  <link href="/media/bootstrap.css" rel="stylesheet">
</head>
<body>
  <script src="/media/socket.io.js"></script>
  <div class="topnav">
      <div class="menu-btn">
         <i class="fas fa-bars"></i>
      </div>
      <a href="/">Home</a>
      <a href="/projects">Other Projects</a>
      <a class="active" href="/dashboard">Dashboard</a>
      <a id="userinfo"> <img src=<%= discordpfp %> alt="pfp" style="width:48px; height:48px; float: left; border-radius: 30px; padding: 5px;"> <%= discordname %> </a>
      <button id="logoutbutton" onclick="window.location.href = 'https://wbmoderation.com/dashboard/auth/logout'">Logout</button>
    </div>

       <div class="side-bar">
         <div class="close-btn">
           <p style="text-align: left;font-size: 24px;font-family: Ubuntu;font-weight: bold;"><%= guild.name %> <i class="fas fa-times" style="float: right;"></i></p>
         </div>
         <div class="menu">
           <div class="item"><a href="/dashboard/server/<%= guild.id %>"><i class="fas fa-desktop"></i>Overview</a></div>
          <div class="item"><a class="active" href="#"><i class="fa-solid fa-gear"></i>Configuration</a></div>
           <div class="item">
             <a class="sub-btn"><i class="fa-solid fa-shield"></i>Moderation<i class="fas fa-angle-right dropdown"></i></a>
             <div class="sub-menu">
               <a href="#" class="sub-item">Sub Item 01</a>
             </div>
           </div>
           <div class="item">
             <a class="sub-btn"><i class="fa-solid fa-cogs"></i>Miscellaneous<i class="fas fa-angle-right dropdown"></i></a>
             <div class="sub-menu">
               <a href="/dashboard/server/<%= guild.id %>/embedmanager" class="sub-item"><i class="fa-solid fa-file-lines"></i>Embed Manager</a>
             </div>
           </div>
         </div>
       </div>
       <div class="mainpage">
         <h1>Configuration</h1>
         <div style="margin: auto;padding: 20px;text-align: center;display: table;">
         <div class="infopanel">
           <h4 style="color: #F6F6F6;">Bot Theme Color <button id="resetcolor" onclick="resetcolor()" disabled>Reset</button> <button id="savecolor" onclick="savecolor()" disabled>Save</button></h4>
           <div class="color" style="position: relative;float:right;"></div>
           <p class="infocontent">Change the bot's theme color.<br>The current bot theme color for <%= guild.name %> is <code id="hexcolor"><%= themecolor %></code></p>
           <img id="heximg" src="https://singlecolorimage.com/get/<%= themecolor.replace('#', '') %>/256x256" alt="colorimg" style="width: 128px;height: 128px;margin: 10px;border-radius: 10px;border-style: inset;border-color: <%= themecolor %>;">
         </div>
         <div class="infopanel" style="float: right;">
           <h4 style="color: #F6F6F6;">Server Prefix <button id="resetprefix" onclick="resetprefix()" disabled>Reset</button> <button id="saveprefix" onclick="saveprefix()" disabled>Save</button></h4>
           <p class="infocontent">Change the server's prefix.<br>The current server prefix for <%= guild.name %> is <code id="textprefix"><%= prefix %></code></p>
         </div>
       </div>
     </div>

  <div style="text-align: center;display: flex;align-items: center;justify-content: center;">
    <div id="snackbar">Successfull</div>
  </div>
<script type="text/javascript">
$(document).keyup(function(e) {
  if (e.key === "Escape") { // escape key maps to keycode `27`
    if ($('.side-bar').hasClass('active')) {
      $('.side-bar').removeClass('active');
    }
  }
});
  var socket = io();

  Coloris({
  parent: '.color',
  theme: 'large',
  themeMode: 'dark',
  alpha: false,
  swatches: [
    '#d90053',
],
  inline: true,
  defaultColor: '<%= themecolor %>'
  });
  document.addEventListener('coloris:pick', event => {
  let btn = document.getElementById('savecolor')
  btn.disabled = false
  btn.style.backgroundColor = '#43b581'
  btn.style.cursor = 'pointer'
});

    function savecolor() {
      let newcolor = document.getElementById('clr-color-value').value
      let btn = document.getElementById('savecolor')
      let updatehex = document.getElementById('hexcolor')
      let updateimage = document.getElementById('heximg')
      btn.disabled = true
      btn.style.backgroundColor = '#2f7f5a'
      btn.style.cursor = 'not-allowed'
      updatehex.innerHTML = newcolor
      updateimage.style.borderColor = newcolor
      updateimage.src = `https://singlecolorimage.com/get/${newcolor.replace('#', '')}/256x256`
      socket.emit('themecolorchange', newcolor, '<%= guild.id %>')
    }
    function resetcolor() {
      if (confirm("Are you sure you want to reset the Bot Theme Color?\nThis will reset the color to it's default value") == true) {
        socket.emit('reset', 'color', '<%= guild.id %>')
        let btn = document.getElementById('resetcolor')
        btn.disabled = true
        btn.style.backgroundColor = '#a82c2c'
        btn.style.cursor = 'not-allowed'
      }
    }


    socket.on('success', function(info, successmsg) {
      var x = document.getElementById("snackbar");
      x.innerHTML = `${successmsg}`
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
      if(info == 'color') {
        let btn = document.getElementById('resetcolor')
        btn.disabled = false
        btn.style.backgroundColor = '#e03c3c'
        btn.style.cursor = 'pointer'
      } else if (info == 'resetcolor') {
        setTimeout(function(){ location.reload() }, 5200);
      }
    });

    $(document).ready(function(){
      $('.side-bar').addClass('active');
      if (<%= resetcolordisabled %>) {
        let btn = document.getElementById('resetcolor')
        btn.disabled = false
        btn.style.backgroundColor = '#e03c3c'
        btn.style.cursor = 'pointer'
      }
      //jquery for toggle sub menus
      $('.sub-btn').click(function(){
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
      });
      $('.mainpage').click(function(){
        if ($('.side-bar').hasClass('active')) {
          $('.side-bar').removeClass('active');
        }
      });

      //jquery for expand and collapse the sidebar
      $('.menu-btn').click(function(){
        $('.side-bar').addClass('active');
      });

      $('.close-btn').click(function(){
        $('.side-bar').removeClass('active');
      });

      $('.side-bar .menu .item a').click(function(){
        $('.side-bar .menu .item a').removeClass('active');
        $(this).addClass('active');
        $('.side-bar .menu .item a.sub-btn').removeClass('active')
      });
    });
</script>
<style>
h1 {
  font-family: calibri, sans-serif;
  color: #d90053;
  padding: 5px;
  text-align: center;
  font-size: 55px;
}
.subhead {
  font-family: calibri, sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 40px;
}
h4 {
  font-family: calibri, sans-serif;
  text-align: center;
  font-size: 36px;
}
body {
  background-color: #2C2F33;
}
.infopanel {
  border-radius: 20px;
  width: 550px;
  background-color: #56595c;
  text-align: center;
  margin: 5px;
  border-style: outset;
  border-width: 3px;
  border-color: #414447;
  padding: 10px;
  float: left;
}
.infocontent {
  font-size: 20px;
  color: #F6F6F6;
  font-family: Ubuntu;
  text-align: left;
}
indent {
  text-indent: 10px;
}
code {
  background-color: rgba(0, 0, 0, 0.5);
}
#userinfo {
float: right;
pointer-events: none !important;
color: white;
padding: 5px;
border: none;
background-color: #171717;
display: block;
}
#logoutbutton {
  float: right;
  color: white;
  padding: 16px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-family: Ubuntu;
  margin: 1px;
  background-color: #e03c3c;
  display: block;
}
#logoutbutton:hover {
  background-color: #a82c2c;
}
#userinfo {
  text-align: center;
  line-height: 48px;
  text-align: center;
}
#savecolor {
  float: right;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  cursor: not-allowed;
  transition: 0.3s;
  font-size: 18px;
  font-family: Ubuntu;
  margin: 1px;
  background-color: #2f7f5a;
}
#resetcolor {
  float: right;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  cursor: not-allowed;
  transition: 0.3s;
  font-size: 18px;
  font-family: Ubuntu;
  margin: 1px;
  background-color: #a82c2c;
}
#saveprefix {
  float: right;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  cursor: not-allowed;
  transition: 0.3s;
  font-size: 18px;
  font-family: Ubuntu;
  margin: 1px;
  background-color: #2f7f5a;
}
#resetprefix {
  float: right;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  cursor: not-allowed;
  transition: 0.3s;
  font-size: 18px;
  font-family: Ubuntu;
  margin: 1px;
  background-color: #a82c2c;
}
a.external::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
.wbguild {
  text-align: center;
  cursor: pointer;
  width: 20%;
  margin: auto;
  padding: 5px;
  border-color: grey;
  border-radius: 10px;
  border-style: ridge;
}
@keyframes updown {
  0% {
    transform: translateY(-3%);
  }

  50% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(-3%);
  }
}
c {
  color: #d90053;
}
p {
  font-family: calibri, sans-serif;
  font-size: 30px;
  text-align: center;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00008B;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d90053;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30045;
}

.totop {
  float: right;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 50px;
  display: inline-block;
  background-color: blue;
  cursor: pointer;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #43b581;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  bottom: 30px;
  font-size: 20px;
  font-family: Ubuntu;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.center {
margin: auto;
width: 80%;
padding: 10px;
display: table;
text-align: center;
border-radius: 25px;
border-color: black;
border-style: groove;
background-color: rgba(255, 255, 255, 0.8);
}
.center button {
  background-color: #ff8800;
  border-style: ridge;
  border-radius: 50px;
  border-color: black;
  font-size: 50px;
  cursor: pointer;
  margin: 20px;
  padding: 10px;
  transition: 0.1s;
  box-shadow: 0 9px #999;
}
.center button:hover {
  background-color: #cc6d00;
  transition: 0.3s;
}
.center button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 0.1s;
}

.left {
  float: left;
  width: 45%;
  padding: 5px;
}
.right {
  float: right;
  width: 45%;
  padding: 5px;
}
.pfps {
  border-radius: 15px;
}

.topnav {
  margin: 5px;
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
  padding: 5px;
}

.topnav a, a:visited {
  margin-left: 5px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Ubuntu;
  transition: 0.3s;
  border-radius: 10px;
  border-style: groove;
  border-color: #242424;
  background-color: #242424;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}

.topnav a.active {
  margin-left: 5px;
  background-color: #7289DA;
  border-color: #7289DA;
  color: white;
  border-radius: 10px;
}

.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 34px;
    min-width: 196px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

.side-bar{
 background: rgba(153, 170, 181, 0.1);
 backdrop-filter: blur(15px);
 width: 290px;
 height: 100vh;
 position: fixed;
 top: 0;
 left: -100%;
 overflow-y: auto;
 transition: 0.6s ease;
 transition-property: left;
}

.side-bar.active{
 left: 0;
}

.side-bar .menu{
 width: 100%;
 margin-top: 80px;
}

.side-bar .menu .item{
 position: relative;
 cursor: pointer;
}

.side-bar .menu .item a{
 color: #fff;
 font-size: 16px;
 text-decoration: none;
 display: block;
 padding: 5px 30px;
 line-height: 60px;
}

.side-bar .menu .item a:hover{
 background: #8621F8;
 transition: 0.3s ease;
}
.side-bar .menu .item a.active{
 background: #7289DA;
}

.side-bar .menu .item i{
 margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
 position: absolute;
 right: 0;
 margin: 20px;
 transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
 background: rgba(255, 255, 255, 0.1);
 display: none;
}

.side-bar .menu .item .sub-menu a{
 padding-left: 60px;
}

.rotate{
 transform: rotate(90deg);
}

.close-btn{
 position: flex;
 color: #fff;
 font-size: 20px;
 right: 0;
 margin: 25px;
 cursor: pointer;
}

.menu-btn{
 float: left;
 color: #fff;
 font-size: 25px;
 margin: 5px;
 padding: 8px;
 height: 50px;
 width: 60px;
 text-align: center;
 border-radius: 10px;
 background-color: black;
 cursor: pointer;
}



@media (max-width: 900px){
 .main h1{
   font-size: 40px;
   line-height: 60px;
 }
}
</style>
</body>
</html>
